# Datasets
/train/
/test/
/valid/

# Python
__pycache__/
*.pyc

# Entornos virtuales
/venv/
/venv_nuevo/

# Modelos y binarios
*.pyd
*.lib
*.dll

# Node modules y builds
/sistema-trafico/node_modules/
/dist/    
